# Dependencies
node_modules

# Build outputs
dist
build
coverage

# Logs
*.log

# Database
*.db
*.sqlite

# Environment
.env
.env.local

# OS
.DS_Store

# Config files
pnpm-lock.yaml
package-lock.json
yarn.lock
